* {
  margin: 0;
  padding: 0;
}

:root {
  font-size: 62.5%;
}

h1 {
  color: #0000ff; 
  text-align: center;
  font-size: 9.6rem;
  background-color: aqua;
  font-weight: 700;
  font-family: "Comic Neue", cursive;
}

h2 {
  font-size: 3.2rem;
  font-style: italic;
  text-decoration: underline;
}

a {
  font-size: 2.4rem;
}

a:visited {
  color: red;
}

a:hover {
  color: coral;
}

p {
  font-size: 1.8rem;
  text-align: justify;
  text-indent: 50px;
}

.novo-em {
  font-size: 200%;
}

.novo-em h2 {
  font-size: 3.2em;
}

.bg {
  height: 500px;
  width: 100%;
  background-color: #555;
  background-image: url("https://images.unsplash.com/photo-1496535731694-9673400f50c9?q=80&w=1171&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}
