* {
  margin: 0;
  padding: 0;
}

h1 {
  color: #0000ff; 
  text-align: center;
  font-size: 42px;
  background-color: aqua;
  font-weight: 900;
}

h2 {
  font-size: 32px;
  font-style: italic;
  text-decoration: underline;
}

p {
  font-size: 18px;
  text-align: justify;
}

.bg {
  height: 500px;
  width: 100%;
  background-color: #555;
  background-image: url("https://images.unsplash.com/photo-1496535731694-9673400f50c9?q=80&w=1171&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}
